node_modules/
bower_components/
package-lock.json
yarn.lock
.npm-debug.log

.DS_Store
Thumbs.db

.sass-cache/
.idea/
.tmp/
dist/
test-results.xml

### Devskiller entries
*.iws
*.launch
.externalToolBuilders/
.DS_Store
__MACOSX/
.idea/
.nb-gradle/
.project
.settings/
atlassian-ide-plugin.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
node_modules
.npm-debug.log
tmp
